#welcome{
	background-color: orange;
}

#upper{
	background-color: green;
}

#tracks{
	background-color: purple;
}

#chords_info{
	background-color: #F0F8FF;
}

#chords_track{
	background-color: blue;
}

#melody_info{
	background-color: #FFE4E1;
}

#melody_track{
	background-color: red;
}

#synth{
	background-color: yellow;
}











#upper {
	height: 80px;
}

.info {
	width: 200px;
}

.track {
	position: relative;
	left: 200px;
	width: 1064px;
	transform: translate(0, -100%);
}

.info, .track {
	height: 100px;
}

#tracks > div {
	height: 100px;
}

#synth {
	position: relative;
	height: 250px;
	margin-top: 30px;
	border: 1px solid black;
	border-radius: 10px;
	padding: 20px;
}

#oscillator {
	position: absolute;
	border: 1px solid black;
	width: 450px;
	height: 230px;
}

#filter {
	position: absolute;
	border: 1px solid black;
	width: 450px;
	height: 100px;
	left: 500px;
}

#lfo {
	position: absolute;
	border: 1px solid black;
	width: 450px;
	height: 100px;
	left: 500;
	top: 150px;
}

#master {
	position: absolute;
	border: 1px solid black;
	width: 250;
	height: 230px;
	left: 980px;
}

h3 {
	text-align: center;
	margin: 10px 0px 10px 0px;
}


