.knob-border {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: dashed black;
    border-bottom-color: transparent;
    border-width: 1.5px;
    border-radius: 50%;
    margin:2%;
}

.knob-background {
    position: relative;
    background-color: orange;
    width: 80%;
    height: 80%;
    transform: translate(10%,10%) ;
    border: solid black;
    border-width:0.4px;
    border-radius: 50%;
    background-image: radial-gradient(orange 60%, darkorange 15%);
}

.level-amount {
    position: relative;
    margin-top: 0px;
    width: 45%;
    height: 5%;
    background-color: darkred;
    border-radius: 25%;
    transform: rotate(135deg) translate(75%,-1100%);

}

.knob-level-label {
    position: relative;
    font-size: 50%;
    text-align: center;
    color: black;
    text-align: center;
    transform: translate(0,80%);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.knob-bar {
    position: relative;
    width: 384px;
    height: 100px;
    background-color: grey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border:solid black;
   
}

#knob-master {
    width: 194;
}




