#synth {
  display: grid;
  grid-template-columns: 41% 41% 14%;
  row-gap: 10px;
  column-gap: 2%;
  background-color: #2196F3;
  padding: 10px;
  height: auto;
  width: auto;
  max-width: 1300px;
  min-width: 700px;
  border:1px solid black;
  border-radius: 1%;
}
#synth > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0px;
  font-size: 30px;
}

.oscillators {
  grid-area: 1 / 1 / span 2 / span 1;
  display: grid;
  grid-template-columns: auto;
  grid-gap:25%;
  border:1px solid red;
}
.filter {
  grid-area: 1 / 2 / span 1 / span 1;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  border:1px solid red;
}


.master{
  grid-area: 1 / 3 / span 2 / span 1;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50% 50%;
  border:1px solid red;
}
.lfo{
  grid-area: 2 / 2 / span 1 / span 1;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
#osc1{
  grid-area: 1 / 1 / span 1 / span 1;
}
#osc2{
  grid-area: 2 / 1 / span 1 / span 1;
}
.label{
  margin-top: 100%;
  font-size: 15px;
}

.oscillator select.waveforms.selector {
  grid-area: 1 / 4 / span 1 / span 1;
}

.selector{
  height: 50%;
  width: 70%;
  margin: auto 0px auto 0px;
}

.lfo .waveforms {
  grid-area: 1 / 2 / span 1 / span 1;
}

.destination {
  grid-area: 1 / 3 / span 1 / span 1;
}

.slider-container{
  display: grid;
  grid-template-columns: 10% 90%;
  grid-area: 1 / 4 / span 1 / span 1;
}


.slider-label{
  font-size: 10px;
  text-align: left;
  display: inline-flex;
  width: 10%;
}

.slider{
  width: 70%;
  display: inline;
}

.attack{
  grid-area: 1 / 2 / span 1 / span 1;
}

.decay{
  grid-area: 2 / 2 / span 1 / span 1;
}

.sustain{
  grid-area: 3 / 2 / span 1 / span 1;
}

.release{
  grid-area: 4 / 2 / span 1 / span 1;
}

.atck-label {
  grid-area: 1 / 1 / span 1 / span 1;
}

.dcy-label {
  grid-area: 2 / 1 / span 1 / span 1;
}

.sus-label {
  grid-area: 3 / 1 / span 1 / span 1;
}

.rel-label {
  grid-area: 4 / 1 / span 1 / span 1;
}


.oscillator {
  border:1px solid black;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}



#knob6 {
  grid-area: 1 / 1 / span 1 / span 1;
}

#knob7 {
  grid-area: 1 / 2 / span 1 / span 1;
}

#knob9 {
  grid-area: 1 / 1 / span 1 / span 1;
  margin-left: auto;
  margin-right: auto;
    width: 70px;
    height:70px;

}

#mast-slider-cont {
  margin: auto;
  align-content:center;
  grid-area: 2 / 1 / span 1 / span 1;
}

#mast-slider-cont .slider {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}






.knob {
    width: 60px;
    height:60px;

}

.ext-knob{
    position: relative;
    border: 1px dashed black;
    border-bottom-color: transparent;
    width: 85%;
    height:85%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50%;
    margin: auto;
}

.int-knob{
    background-color: blue;
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    border-radius:50%;
    transform:rotate(-135deg);

}

.level-amount {
    height: 20%;
    width: 20%;
    background-color: lightgray;
    border-radius:50%;
    transform: translate(0, 10%);
}

.knob-level-label{
    font-size: 45%;
    color: black;
    background-color: red;
    text-align: center;
    width:86%;
    margin: auto;
}








