.chord{
	position: relative;
	width: 148px;
	height: 148px;
	background-color: hsl(40, 90%, 85%);
	border: 1px solid hsl(25, 100%, 45%);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius:5px;
	color: black;
	margin-right:2px;
}


#chords-blocks{
	position: absolute;
	top: 120px;
	left: 170px;
	display: flex;
	flex-direction: row;
	width: auto;
	height: 250px;
	background-color: hsl(35, 80%, 92%);
	align-items:center;
	border: 1px solid black;
	padding: 10px;
}
.chord-name{
    position: relative;
	width: auto;
	height: auto;
	font-size: 45px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.chord-type{
 	position: relative;
	width: auto;
	height: auto;
	//background-color: gray;
	font-size: 25px;
	margin-top: 15%;
	margin-left: 5%;

}
.plus, .minus{
	border-radius: 50%;
	width: 30%;
	height: 30%;
	border: 1px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
}


.plus:hover{
	background-color: hsl(90, 80%, 50%);
}
.minus:hover{
	background-color: hsl(0, 95%, 60%);
}
.chord-substitution{
	position: absolute;
	font-size: 25px;
	background-color: hsl(25, 90%, 75%);
	width: 26px;
	height: 26px;
	border: 1px solid hsl(0, 85%, 50%);
	border-radius: 5px;
	right: -1px;
	bottom: -1px;
	text-align: center;
}

.function{
	display: inline-flex;
	flex-direction: row;
	justify-content:center;
	align-items: center;
	width: 80px;
	margin-left: 15px;
	background-color: hsl(35, 70%, 90%);
	border-radius: 10%;
	text-align: center;
}

.functions{
	display: inline-flex;
	width: 200px;
	height: 15px;
	background-color: hsl(25, 95%, 75%);
	border: 1px solid hsl(25, 90%, 50%);
}

.time-bar{
	position: absolute;
	top: -20px;
	width: 100%;
	height: 10px;
	border: 1px solid black;
	background-color: white;
}
/*
.chord-substitution-menu{
	top:110%;
	width: 138px;
	height: auto;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	padding: 5px;
}*/
.substitution{
	padding: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	border:1px solid black;
	background-color: gray;
	width: 90%;
	height: auto;
	text-align: center;
}

.midi-track{
	position: absolute;
	top: 110%;
	width: 100%;
	height: 70%;
	border: 1px solid black;
	background-color: lightgray;
}
.pluschord{
	border:1px solid hsl(0, 95%, 45%);
	display: inline-flex;
	flex-direction: column;
}

.chord:hover{
	background-color: hsl(40, 80%, 92%);
}
.function:hover{
	background-color: hsl(40, 80%, 80%);
}
.chord-edit{
	position: absolute;
	font-size: 25px;
	background-color: hsl(25, 90%, 75%);
	width: 26px;
	height: 26px;
	border: 1px solid hsl(0, 85%, 50%);
	border-radius: 5px;
	left: -1px;
	top: -1px;
	text-align: center;
}
.chord-substitution:hover, .chord-edit:hover{
	background-color: hsl(0, 95%, 71%);
}

#edit-chord-window{
	position: fixed;
	top: 250px;
	left: 300px;
	font-size: 25px;
	background-color: hsl(0, 95%, 75%);
	border: 3px groove hsl(0, 95%, 50%);
	text-align: center;
  	z-index: 1;
  	display: none;
  	width: 400px;
  	height: 90px;
  	min-width: 358px;
  	font-size: 16px;
}
#chord-editor-text{
	top: 10px;
	margin-top: 5px;
	margin-bottom: 30px;

}
.edit-chord-selector{
	padding: 5px;
	background-color: hsl(10, 95%, 95%);
	height: 30px;
	border: 1px solid hsl(10, 95%, 50%);
	outline: none;
}

.done-button-chord{
	height: 30px !important;
	border: 1px solid hsl(10, 95%, 50%);
}



.edit-chord-selector:hover, .done-button-chord:hover{
	border: 1px solid hsl(10, 95%, 40%);
	background-color: hsl(5, 95%, 90%);
}

#bpm-value{
	width: 40%;
	background-color: hsl(25, 95%, 90%);
	text-align: center;
	border: 1px solid hsl(25, 95%, 50%);
	margin-left: 20px;
	outline:none;
}
#bpm-value:focus{
	background-color: hsl(25, 90%, 80%);
}




#done-load-chords, #done-load-synth, #apply-substitution{
	position:absolute;
	text-align: center;
	top:50px;
	right: 50px;
	width:auto;
	height:auto;
    border:1px solid black;
}
.closing-x{
}
#done-load-chords:hover, #done-load-synth:hover, #apply-substitution:hover{
	background-color: red;
}


.chord-swap{
	position: absolute;
	font-size: 15px;
	background-color: hsl(25, 90%, 75%);
	width: 26px;
	height: 26px;
	border: 1px solid hsl(0, 85%, 50%);
	border-radius:5px;
	left: -1px;
	bottom: -1px;
	text-align: center;
}
.quantization-button{
	position: absolute;
	top:-1px;
	right: -1px;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	background-color: hsl(25, 90%, 75%);;
	width: 26px;
	height: 26px;
	border: 1px solid hsl(0, 85%, 50%);
	text-align: center;
	border-radius: 5px;
}
.quantization-button:hover{
	background-color:hsl(0, 95%, 71%);
}
.quantization-plus, .quantization-minus{
	width: 100%;
	height: 50%;
	border-radius: 5px;
}

.quantization-plus:hover{
	background-color: hsl(90, 90%, 40%);
}
.quantization-minus:hover{
	background-color: hsl(0, 95%, 60%);
}

#chord-substitution-menu{
	display: none;
	width: auto;
	height: auto;
	top: 400px;
	left: 300px;
}

.suggested-substitution{
  background-color: hsl(16, 90%, 93%);
  border: 1px solid hsl(18, 70%, 50%);
  margin-top: 5px;
 }

.suggested-substitution >td{
	justify-content: center;
	align-items: center;
	padding: 10px;
	text-align: center;
	margin-bottom: 5px;
}
button{
	background-color: white;
	border-color: hsl(0, 95%, 70%);
	outline:none;
	font-size: 12px;
	font-family: ="Courier new";
}
button >i{
	margin-top: 2px;

}

.fa-play{
	color: hsl(25, 95%, 50%);
}
#stop-button:active{
	background-color: hsl(0, 95%, 50%);
}
.fa-stop{
	color: hsl(25, 95%, 50%);
}
.fa-caret-square-right{
	color: hsl(25, 95%, 50%);
}
.fa-sync{
	color: hsl(25, 95%, 50%);
}
.sequencer-button{
	margin-left: 5px;
}
.upper-bar{
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid hsl(25, 100%, 45%);
  background-color: hsl(25, 95%, 75%) !important;
  padding: 10px !important;
  font-size: 12px !important;
  height: 30px;
}

.upper-bar-function{
	display: inline-flex;
	align-items: center;
    justify-content: center;
    text-align: center;
	border: 1px solid hsl(25, 95%, 50%);
    background-color: hsl(25, 95%, 90%);
}

#upper-synth-bar{
  width: 460px;
  top: -53px;
  left: -1px;
}

#upper-chords-bar{
  width: 1060px;
  top: -52px;
  left: -1px;
}

.upper-bar > div{
	height: 20px;
	margin-left: 5px;
	padding: 8px;
	font-size:14px;

}
#midi-outputs{
	width: 100px;
	border: none;
	outline: none;
}
.preset > input {
	margin-left: 10px;
	width: 90px;
	background-color: hsl(25, 95%, 95%);
	outline: none;
	border-color: hsl(25, 95%, 75%)
}

.preset > input:focus{
	background-color: hsl(25, 90%, 80%);
}

#preset-chords-name{
	text-align: center;
}
#open-synth:hover{
	background-color: hsl(25, 90%, 80%);
}
#bpm-text-ext{
	width: 100px;
}
