.chord{
	position: relative;
	width: 148px;
	height: 148px;
	background-color: darkgray;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: hidden;
	color: black;
}
#chords-blocks{
	position: absolute;
	top: 150px;
	left: 180px;
	display: flex;
	flex-direction: row;
	width: auto;
	height: 250px;
	background-color: lightgray;
	align-items:center;
	border: 1px solid black;
	padding: 10px;
}
.chord-name{
    position: relative;
	width: auto;
	height: auto;
	font-size: 45px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.chord-type{
 	position: relative;
	width: auto;
	height: auto;
	//background-color: gray;
	font-size: 25px;
	margin-top: 15%;
	margin-left: 5%;

}
.plus, .minus{
	border-radius: 50%;
	width: 30%;
	height: 30%;
	border: 1px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
}


.plus:hover{
	background-color: green;
}
.minus:hover{
	background-color: red;
}
.chord-substitution{
	position: absolute;
	font-size: 25px;
	background-color: lightgray;
	width: 26px;
	height: 26px;
	border: 1px solid black;
	right: 0px;
	bottom: 0px;
	text-align: center;
}

.function{
	display: inline-flex;
	flex-direction: row;
	justify-content:center;
	align-items: center;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 50px;
	width: 80%;
	background-color: darkgray;
	border-radius: 10%;
	text-align: center;
}

.functions{
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content:left;
	align-items: center;
	top: 100px;
	left: 10px;
	height: 300px;
	width: 120px;
	background-color: gray;
	padding: 10px;
	border: 1px solid black;
	text-align: center;
}

.time-bar{
	position: absolute;
	top: -20px;
	width: 100%;
	height: 10px;
	border: 1px solid black;
	background-color: white;
}

.chord-substitution-menu{
	position: absolute;
	top:110%;
	background-color: lightblue;
	width: 138px;
	height: auto;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	padding: 5px;
}
.substitution{
	padding: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	border:1px solid black;
	background-color: gray;
	width: 90%;
	height: auto;
	text-align: center;
}

.midi-track{
	position: absolute;
	top: 110%;
	width: 100%;
	height: 70%;
	border: 1px solid black;
	background-color: lightgray;
}
.pluschord{
	border:1px solid blue;
	display: inline-flex;
	flex-direction: column;
}

.chord:hover{
	background-color: lightblue;
}
.function:hover{
	background-color: lightblue;
}
.chord-edit{
	position: absolute;
	font-size: 25px;
	background-color: lightgray;
	width: 26px;
	height: 26px;
	border: 1px solid black;
	left: 0px;
	top: 0px;
	text-align: center;
}
.chord-substitution:hover, .chord-edit:hover{
	background-color: green;

}

#edit-chord-window{
	position: fixed;
	top: 250px;
	left: 300px;
	font-size: 25px;
	background-color: darkgray;
	border: 1px solid black;
	text-align: center;
  	z-index: 1;
  	display: none;
}

#upper-chords-bar{
  border: 1px solid blue;
  align-items: center;
  display: inline-flex;
  height: 30px;
  width: 720px;
  position: absolute;
  top: -52px;
  left: -1px;
  background-color: lightblue;
  padding: 10px;
  justify-content: center;
}

#preset-chords-name-ext > p {
	font-size: 16px;
	margin: 0px;
}

#preset-chords-name-ext > input {
	margin-left: 10px;
	width: 90px;
}

#preset-chords-name-ext, #sequencer-function-ext{
  border: 1px solid blue;
  display: inline-flex;
  background-color: lightblue;
  align-items:center;
  jusitfy-content:center;
  margin:auto;
  padding: 3px;
}

#bpm-value{
	width: 40%;
	background-color: gray;
	text-align: center;
	border: 1px solid black;
	margin-left: 20px;
}

.upper-seq-function{
	margin-left: 5px;
	margin-right: 5px;
}

#bpm-text-ext{
	display: inline-flex;
	align-items: center;
	width: 100px;
	border: 1px solid gray;
	padding: 5px;
	justify-content: center;
}

#preset-chords-name{
	text-align: center;
}

#done-load-chords, #done-load-synth{
	position:absolute;
	top:0px;
	right: 0px;
	width:auto;
	height:auto;
	transform: translate(4px,-3px);
    background-color: lightblue;
    border:1px solid black;
}
.closing-x{
	transform: translate(-2px,0);
}
#done-load-chords:hover, #done-load-synth:hover{
	background-color: red;
}
#open-synth:hover{
	background-color: lightgray;

}
#open-synth{
	border: 1px solid green;
	padding: 5px;
}
.chord-swap{
	position: absolute;
	font-size: 15px;
	background-color: lightgray;
	width: 26px;
	height: 26px;
	border: 1px solid black;
	left: 0px;
	bottom: 0px;
	text-align: center;
}
.quantization-button{
	position: absolute;
	top:0px;
	right: 0px;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	background-color: lightgray;
	width: 26px;
	height: 26px;
	border: 1px solid black;
	text-align: center;
}
.quantization-plus, .quantization-minus{
	border: 1px solid black;
	width: 100%;
	height: 50%;
}
.quantization-plus:hover,.quantization-minus:hover{
	background-color:green;
}
.chord-swap:hover{
	background-color: green;
}
