#synth{
	background-color: red;
	width:80%;
	height:25%;
	display: grid;
	grid-template-columns: auto auto auto;
}

.synth-element{
	background-color: red;
	border: 1px solid black;
	display: inline-flex;
}

.knob-bar{
	display: inline-flex;
	padding: 5px;
	transform: translate(0,5%);
}
.knob{
	transform: translate(0,50%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: white;
	border:1px solid silver;
}

.oscillators{
	background-color: blue;
	display: grid;
	grid-template-columns: 25% 25% 25% auto ;
}
.osc-element{
	background-color: red;
	border: 1px solid green;
	display: inline-flex;
	justify-content: center;
}

#osc1 {
	grid-area: 1 / 1 / span 1 / span 5;
} 

#filter {
	grid-area: 1 / 6 /  span 1 / span 5;
}

#master1 {
	grid-area: 1 / 11 /  span 1 / span 2;
}

#osc2 {
	grid-area: 2 / 1 /  span 1 / span 5;
} 

#lfo {
	grid-area: 2 / 6 / span 1 / span 5;
}

#master2 {
	grid-area: 2 / 11 / span 1 / span 2;
}




